backend/__pycache__/contacts.cpython-314.pyc
backend/__pycache__/database.cpython-314.pyc
backend/__pycache__/swagger_specs.cpython-314.pyc
backend/venv/bin/python
backend/venv/bin/python3
backend/venv/bin/python3.12
backend/venv/pyvenv.cfg
